<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="La Opera Pizzaria - Pizzaria de longa fermentação com receitas italianas autênticas."
    />
    <meta name="category" content="Pizzaria / Pizzaria de longa fermentação / Pizzaria artesanal / Receitas autênticas">
    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" href="{{ cssPath }}" />
    <link rel="stylesheet" href="https://use.typekit.net/wgn4upr.css">    
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./img/ico/apple-touch-icon.png"
    />
    <link rel="icon" href="../img/logo.png" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <title>{{ title }}</title>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NQDH3FP8');</script>
<!-- End Google Tag Manager -->
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQDH3FP8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->  
    <main>
      {{ content | safe }}

    </main>
  </body>
</html>

<script>
  AOS.init({
    duration: 1000
  });
</script>
