<nav class="nav">
    <ul>
      <li>
        <a class="links" href="https://loja.neemo.com.br/la-opera-pizzaria?utm_source=ig&utm_medium=social&utm_content=link_in_bio&fbclid=PAZXh0bgNhZW0CMTEAc3J0YwZhcHBfaWQMMjU2MjgxMDQwNTU4AAGnUgapi1vV9JikimVkcgBFRN7EfKmgHxdgqv6OI1hmtduFbtO1anemTQ3WhCM_aem_OkgYN-vQcaATI8nJwo8LTg">Cardápio</a>
      </li>
      <li>
        <a class="links" href="/#app">Nosso Aplicativo</a>
      </li>
      <li>
        <a class="links" href="/#diferenciais">Diferenciais</a>
      </li>
      <li>
        <a class="links" href="/#footer">Contato</a>
      </li>
    </ul>
</nav> 