---
title: La Opera - Pizzaria
layout: "base.njk"
cssPath: "/css/home.css"
---


<header class="header">
    {% include 'nav.njk' %}
    <img class="tablet-desktop header-back" src="../img/header.png" alt="">
    <img class="only-mobile header-back" src="../img/header-mob.png" alt="">
    <div class="header-info">
        <img src="../img/header-logo.png" alt="">
        <a href="https://loja.neemo.com.br/la-opera-pizzaria?utm_source=ig&utm_medium=social&utm_content=link_in_bio&fbclid=PAZXh0bgNhZW0CMTEAc3J0YwZhcHBfaWQMMjU2MjgxMDQwNTU4AAGnUgapi1vV9JikimVkcgBFRN7EfKmgHxdgqv6OI1hmtduFbtO1anemTQ3WhCM_aem_OkgYN-vQcaATI8nJwo8LTg" class="amareloButton">Faça seu pedido</a>
    </div>
</header>

<section class="detalhe">
    <img src="../img/detalhe.png" alt="">
    <h2>Cada detalhe pensado para ser inesquecível.</h2>
    <p>Receitas italianas autênticas, ingredientes selecionados e um cuidado que transforma cada detalhe em experiência.</p>
    <h1>Pizza napolitana de verdade, feita para chegar perfeita até você.</h1>
</section>

<section class="palco">
    <img class="tablet-desktop" src="../img/palco-back.png" alt="">
    <img class="only-mobile" src="../img/palco-back-mob.png" alt="">
    <div class="palco-info">
        <p>O palco dos sabores La Opera. Navegue pelo cardápio e escolha seu favorito.</p>
        <a href="https://loja.neemo.com.br/la-opera-pizzaria?utm_source=ig&utm_medium=social&utm_content=link_in_bio&fbclid=PAZXh0bgNhZW0CMTEAc3J0YwZhcHBfaWQMMjU2MjgxMDQwNTU4AAGnUgapi1vV9JikimVkcgBFRN7EfKmgHxdgqv6OI1hmtduFbtO1anemTQ3WhCM_aem_OkgYN-vQcaATI8nJwo8LTg" class="amareloButton">Cardápio</a>
    </div>
</section>

<section class="praticidade" id="app">
    <div class="left-praticidade">
        <h1>
            Praticidade, agilidade e <br/>
            vantagens exclusivas.
            <br/>Tudo no app La Opera.
        </h1>
        <p>
            A cada 10 pedidos pelo app, você recebe R$100 em desconto para usar como quiser.
            <br/><br/>
            No primeiro pedido, aproveite 15% OFF com o cupom LAOPERA15.
        </p>
        <div class="app-buttons">
            <a href="#" class="amareloButton">
                Google Play
                <img src="../img/google-play.png" alt="">
            </a>
            <a href="#" class="amareloButton end">
                Apple Store
                <img src="../img/app-store.png" alt="">
            </a>
        </div>
    </div>
    <img src="../img/praticidade.png" alt="">
</section>

<section class="conheca">
    <div class="left-conheca">
        <div class="title">
            <h1>Conheça nossos</h1>
            <h2>clássicos</h2>
        </div>
        <p>Os sabores mais pedidos e amados. </p>
        <div class="arrows">
            <div class="button-prev">
                <svg width="66" height="66" viewBox="0 0 66 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="33" cy="33" r="33" transform="rotate(-180 33 33)" fill="#DDBA57"/>
                    <path d="M28.3333 42.9167C28.3333 41.8656 27.2949 40.2959 26.2438 38.9784C24.8923 37.2784 23.2773 35.7952 21.4257 34.6632C20.0373 33.8147 18.3543 33.0001 17 33.0001M17 33.0001C18.3543 33.0001 20.0388 32.1855 21.4257 31.3369C23.2773 30.2036 24.8923 28.7203 26.2438 27.0232C27.2949 25.7042 28.3333 24.1317 28.3333 23.0834M17 33.0001L48.45 33.0001" stroke="#F5F4E9" stroke-width="3"/>
                </svg>
            </div>
            <div class="button-next">
                <svg width="66" height="66" viewBox="0 0 66 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="33" cy="33" r="33" fill="#DDBA57"/>
                    <path d="M37.6667 23.0833C37.6667 24.1344 38.7051 25.7041 39.7562 27.0216C41.1077 28.7216 42.7227 30.2048 44.5743 31.3368C45.9627 32.1853 47.6457 32.9999 49 32.9999M49 32.9999C47.6457 32.9999 45.9612 33.8145 44.5743 34.6631C42.7227 35.7964 41.1077 37.2797 39.7562 38.9768C38.7051 40.2958 37.6667 41.8683 37.6667 42.9166M49 32.9999L17.55 32.9999" stroke="#F5F4E9" stroke-width="3"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="right-conheca">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="../img/calabresa.png" alt="Pizza de calabresa">
                    <p>Calabresa</p>
                </div>
                <div class="swiper-slide">
                    <img src="../img/parma.png" alt="Pizza de parma">
                    <p>Parma</p>
                </div>
                <div class="swiper-slide">
                    <img src="../img/portuguesa.png" alt="Pizza portuguesa">
                    <p>Portuguesa</p>
                </div>
                <div class="swiper-slide">
                    <img src="../img/frango.png" alt="Pizza de frango com catupiry">
                    <p>Frango com catupiry</p>
                </div>
                <div class="swiper-slide">
                    <img src="../img/corn.png" alt="Pizza de milho com bacon">
                    <p>Milho com bacon</p>
                </div>
                <div class="swiper-slide">
                    <img src="../img/napolitana.png" alt="Pizza napolitana">
                    <p>Napolitana</p>
                </div>
                <div class="swiper-slide">
                    <img src="../img/margherita.png" alt="Pizza de margherita">
                    <p>Margherita</p>
                </div>
            </div>
        </div>
    </div>
    <span class="fog"></span>
</section>

<section class="arte" id="diferenciais">
    <div class="upper-arte">
        <div class="left-arte">
            <div class="title">
                <h2>A Arte</h2>
                <h1>Da longa fermentação.</h1>
            </div>
            <p>
                Você já se perguntou por que a massa da La Opera é tão diferente?
                <br><br>
                Aqui na La Opera, o tempo é ingrediente essencial.Nossa massa passa por aproximadamente 48 horas de preparo, porque acreditamos que a verdadeira qualidade nasce da paciência e da tradição.
            </p>
            <a href="https://loja.neemo.com.br/la-opera-pizzaria?utm_source=ig&utm_medium=social&utm_content=link_in_bio&fbclid=PAZXh0bgNhZW0CMTEAc3J0YwZhcHBfaWQMMjU2MjgxMDQwNTU4AAGnUgapi1vV9JikimVkcgBFRN7EfKmgHxdgqv6OI1hmtduFbtO1anemTQ3WhCM_aem_OkgYN-vQcaATI8nJwo8LTg" class="amareloButton">Faça seu pedido</a>
        </div>
        <img class="right-arte" src="../img/arte.png" alt="">
        <img class="logo-meio" src="../img/arte-logo.png" alt="">
    </div>
    <div class="lower-arte">
        <div class="item">
            <img src="../img/ingredientes.png" alt="">
            <h3>Ingredientes selecionados</h3>
        </div>
        <div class="item">
            <img src="../img/longa.png" alt="">
            <h3>Longa fermentação</h3>
        </div>
        <div class="item">
            <img src="../img/forno.png" alt="">
            <h3>Forno em alta temperatura</h3>
        </div>
        <div class="item">
            <img src="../img/molho.png" alt="">
            <h3>Molho artesanal</h3>
        </div>
        <div class="item">
            <img src="../img/farinha.png" alt="">
            <h3>farinha italiana 00</h3>
        </div>
    </div>
</section>

<section class="depoimentos">
    <div class="title">
        <h1>depoimentos de clientes</h1>
        <h2>Histórias à mesa</h2>
    </div>
    <div class="container">
        <div class="swiper2">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <h3>Edson Luiz Braun</h3>
                    <p>Fiquei impressionado com o atendimento dos donos e atendentes e com a qualidade de todos os insumos. Pizza extremamente leve e saborosa. Indico de olhos fechados. Não dá vontade de comer outras pizzas. A experiência foi marcante!</p>
                </div>
                <div class="swiper-slide">
                    <h3>SP</h3>
                    <p>Fiz o pedido pelo 99food, me surpreendi com a rapidez da entrega, a pizza é maravilhosa, a massa fina com a borda mais grossinha, super recheada, saborosa e tem muitos sabores vegetarianos, já virei cliente! O sabor gorgonzola com nozes e geleia de damasco ganhou meu coração.</p>
                </div>
                <div class="swiper-slide">
                    <h3>Eduarda Brito</h3>
                    <p>Pizzas muito saborosas e feitas com ingredientes de qualidade. O atendimento é ótimo e a entrega rápida. Virou a minha pizzaria favorita!</p>
                </div>
                <div class="swiper-slide">
                    <h3>Ruht Yancel</h3>
                    <p>Uma das melhores pizzas com muito substancial e deliciosa com massa de longa fermentação e assada no forno a lenha de toda o Paraná, em Curitiba, e o atendimento é excelente. Parabéns pessoal.</p>
                </div>   
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="button-prev">
        <svg width="36" height="23" viewBox="0 0 36 23" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.75 22.9043C12.75 21.6955 11.5818 19.8903 10.3992 18.3752C8.87878 16.4202 7.06191 14.7145 4.97888 13.4128C3.417 12.4369 1.52363 11.5001 1.35993e-07 11.5001M1.35993e-07 11.5001C1.52363 11.5001 3.41859 10.5634 4.97888 9.58749C7.06191 8.28416 8.87878 6.57842 10.3992 4.62668C11.5818 3.10992 12.75 1.30155 12.75 0.0959645M1.35993e-07 11.5001L35.3813 11.5001" stroke="#3C2E55" stroke-width="3"/>
        </svg>
    </div>
    <div class="button-next">
        <svg width="36" height="23" viewBox="0 0 36 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M23.25 0.0957041C23.25 1.30455 24.4182 3.10966 25.6008 4.62479C27.1212 6.57979 28.9381 8.28553 31.0211 9.58723C32.583 10.5631 34.4764 11.4999 36 11.4999M36 11.4999C34.4764 11.4999 32.5814 12.4366 31.0211 13.4125C28.9381 14.7158 27.1212 16.4216 25.6008 18.3733C24.4182 19.8901 23.25 21.6985 23.25 22.904M36 11.4999L0.618748 11.4999" stroke="#3C2E55" stroke-width="3"/>
        </svg>
    </div>
</section>

{% include 'footer.njk' %}


<script>
    const swiper = new Swiper(".swiper", {
      spaceBetween: 20,
      slidesPerView: 'auto',
      loop: true,
      navigation: {
        nextEl: ".button-next",
        prevEl: ".button-prev"
      },
  
      breakpoints: {
        300: {
          slidesPerView: 'auto',
          spaceBetween: 10,
        },
        1000: {
          slidesPerView: 'auto',
        }
      }
    });

    const swiper2 = new Swiper(".swiper2", {
      spaceBetween: 20,
      slidesPerView: 1,
      loop: true,
      navigation: {
        nextEl: ".button-next",
        prevEl: ".button-prev"
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
  
      breakpoints: {
        300: {
          slidesPerView: 'auto',
          spaceBetween: 10,
        },
        1000: {
          slidesPerView: 'auto',
        }
      }
    });
</script>